<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %> " style="text-align:left;">
    <%
=begin%>
 <% unless message.room.is_private %> 
<%
=end%>
      <h6 class="name" style="text-align:left;"> <%= message.user.name %> </h6>
    <%
=begin%>
 <% end %> 
<%
=end%>
  <%= message.content %>
  <p style="margin-top:5px; font-size:10px; margin-bottom:-5px;"> <%= message.created_at.localtime.strftime("%Y-%m-%d %I:%M%P") %> </p>
  </div>
</div>