<div class="imgthing"></div>
<h1>Sign In</h1>

<%- unless @lat_lng %>
<script>
function getGeoLocation() {
  navigator.geolocation.getCurrentPosition(setGeoCookie);
}

function setGeoCookie(position) {
  var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
  document.cookie = "lat_lng=" + escape(cookie_val);
}
  getGeoLocation();

</script>
<%- end %>

<% if flash[:message] %>
  <div class="alert alert-danger">
    <span class="error"><%= flash[:message] %></span>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <span class="success"><%= flash[:success] %></span>
  </div>
<% end %>

<div class="inline">
  <%= form_for(:session, :html => { :id => 'phx-signup-form' }) do |f| %>
  <%= f.text_field :username, placeholder: "Username", :required => true %>
  <br />
    <br />
  <%= f.password_field :password, placeholder: "Password", :required => true %>
  <br />
    <br />
  <%= f.submit 'Sign In' %>

<% end %>
</div>

<p>Do not have an account yet. <%= link_to "Sign Up", :controller => 'sessions', :action => 'signup' %> and create a new account. </p>
