<% provide(:title, 'Sign up') %>

<h1>Sign Up</h1>
<div class="imgthing"></div>
<h2>It’s quick and easy. Sign Up with your LionMail Account</h2>

<% if flash[:message] %>
  <div class="alert alert-danger">
    <span class="error"><%= flash[:message] %></span>
  </div>
<% end %>

<div class="inline">
  <%= form_for(@user, html: {class: "nifty_form"}) do |f| %>

        <%= f.text_field :name, placeholder: "Full Name", :required => true %>
        <br />
        <br />
        <%= f.text_field :username, placeholder: "Username", :required => true %>
        <br />
        <br />
        <%= f.text_field :email, placeholder: "Email", :required => true %>
        <br />
        <br />
        <%= f.password_field :password, placeholder: "Password", :required => true %>
        <br />
        <br />
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password", :required => true %>
        <br />
        <br />
        <%= f.submit "Sign Up", class: "btn btn-primary" %>
  <% end %>
</div>