<div class="row">
  <div class="navbar-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="col-md-4 chat-rooms">
    <h5> <%= @current_user.name %> </h5>
    <%= link_to 'Sign Out', signout_path,  :method => :delete %>
    <h5 class="collapsible collapsible-users">Direct Messages</h5>
    <div class="users-wrapper">
      <%= turbo_stream_from "users" %>
      <div id="users">
        <%= render @users %>
      </div>
    </div>
    <h4 class="collapsible collapsible-rooms"> Rooms </h4>
    <div class="rooms-wrapper">
      <%= render partial: "layouts/new_room_form" %>

      <%= form_tag('/rooms', :method => :get) do %>
        <%= select_tag 'dept_id', options_for_select(@departments.map{|course|["#{course}", course]})%>
        <%= submit_tag("Search") %>
      <% end %>

      <div>
        <%= turbo_stream_from "rooms" %>
        <div id="rooms">
          <%= render @private_rooms %>
          <%= render @rooms %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 bg-dark text-light chat-window">
    <% if @single_room %>
      <h4 class="text-center"> <%= @user&.username || @single_room.name %> </h4>
      <%= turbo_stream_from @single_room %>
    <div id="messages">
    <%= render @messages %>
    </div>
    <%= render partial: "layouts/new_message_form" %>
  </div>
    <% end %>
    
</div>

<script type="text/javascript" charset="utf-8">
  var navIcon = document.querySelector('.navbar-icon');
  var chatRooms = document.querySelector('.chat-rooms');
  var chatWindow = document.querySelector('.chat-window');
  var newMsgForm = document.querySelector('.msg-form');
  var collapsibleUsersButton = document.querySelector('.collapsible-users');
  var collapsibleRoomsButton = document.querySelector('.collapsible-rooms');
  var roomsWrapper = document.querySelector('.rooms-wrapper');
  var usersWrapper = document.querySelector('.users-wrapper');
  console.log(usersWrapper)
  navIcon.addEventListener('click', () => {
      if(chatRooms.classList.contains('open')) {
          chatRooms.classList.remove('open')
          navIcon.classList.remove('navbar-open')
          chatWindow.classList.add('col-md-12')
          chatWindow.classList.remove('col-md-8')
          chatWindow.classList.remove('offset-md-4')
          newMsgForm.classList.remove('navbar-open')
      } else {
          chatRooms.classList.add('open')
          navIcon.classList.add('navbar-open')
          chatWindow.classList.add('navbar-open')
          chatWindow.classList.add('offset-md-4')
          chatWindow.classList.add('col-md-8')
          chatWindow.classList.remove('col-md-12')
          newMsgForm.classList.add('navbar-open')
      }
  });

  collapsibleRoomsButton.addEventListener('click', () => {
      if(roomsWrapper.classList.contains('collapsed')) {
          roomsWrapper.classList.remove('collapsed')
      } else {
          roomsWrapper.classList.add('collapsed')
      }
  })
  collapsibleUsersButton.addEventListener('click', () => {
      console.log(usersWrapper)
      if(usersWrapper.classList.contains('collapsed')) {
          usersWrapper.classList.remove('collapsed')
      } else {
          usersWrapper.classList.add('collapsed')
      }
  })
</script>