<div class="row wrapper">
  <div class="sidebar">
    <div class="navbar-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="signout-button">
      <%= link_to '', signout_path,  :method => :delete, class: "fas fa-sign-out-alt fa-2x" %>
    </div>
  </div>
  <div class="chat-rooms open">
    <h3> <%= @current_user.name %> </h3>
    <!-- <%= link_to 'Sign Out', signout_path,  :method => :delete, class: "signout-button" %> -->
    <h5 class="collapsible collapsible-users open">Direct Messages</h5>
    <div class="users-wrapper">
      <%= turbo_stream_from "users" %>
      <div id="users">
        <%= render @users %>
      </div>
    </div>
    <h5 class="collapsible collapsible-rooms open" >Rooms</h5>
    <div class="rooms-wrapper">
      <h6 class="collapsible collapsible-newroom">Create New Room</h6>
      <div class="newroom-wrapper collapsed">
        <%= render partial: "layouts/new_room_form" %>
      </div>

      <h6 class="collapsible collapsible-searchroom open">Search Room</h6>
      <div class="searchroom-wrapper">
        <%= form_tag('/rooms', :method => :get, :class => 'searchroom-form') do %>
          <%= select_tag 'dept_id', options_for_select(@departments.map{|course|["#{course}", course]}), class: 'form-control'%>
          <%= submit_tag("Search", :class => 'btn btn-primary') %>
        <% end %>

        <div>
          <%= turbo_stream_from "rooms" %>
          <div id="rooms">
            <%= render @private_rooms %>
            <%= render @rooms %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 offset-md-4 navbar-open bg-dark text-light chat-window">
  
    <% if @single_room %>
      <% dis =  " (" + @single_room.getDistanceFromRoom(@single_room, @current_user).round.to_s + " feet away)" %>
      <% if @single_room.getDistanceFromRoom(@single_room, @current_user)  > 20430879 or  @single_room.is_private%>
        <% dis = "" %> 
      <% end %> 
      <h4 class="text-center chat-title"><%= @user&.name || @single_room.name %> <%=  dis  %></h4>
      <%
=begin%>
 <hr class="chat-title-hr">   
<%
=end%>
      <%= turbo_stream_from @single_room %>
    <div id="messages">
    <%= render @messages %>
    </div>
    <%= render partial: "layouts/new_message_form" %>
  </div>
    <% end %>
    
</div>

<script type="text/javascript" charset="utf-8">
  var navIcon = document.querySelector('.navbar-icon');
  var chatRooms = document.querySelector('.chat-rooms');
  var chatWindow = document.querySelector('.chat-window');
  var newMsgForm = document.querySelector('.msg-form');
  var privateRoom = document.querySelector('#room_private_room')
  var multipleSelect = document.querySelector('.hide-multiple')
  var distanceInput = document.querySelector('.room-distance')
  var roomNameInput = document.querySelector('#room_name')
  var collapsibleUsersButton = document.querySelector('.collapsible-users');
  var collapsibleRoomsButton = document.querySelector('.collapsible-rooms');
  var collapsibleNewRoomButton = document.querySelector('.collapsible-newroom');
  var collapsibleSearchRoomButton = document.querySelector('.collapsible-searchroom');
  var roomsWrapper = document.querySelector('.rooms-wrapper');
  var usersWrapper = document.querySelector('.users-wrapper');
  var newRoomWrapper = document.querySelector('.newroom-wrapper');
  var searchRoomWrapper = document.querySelector('.searchroom-wrapper');
  privateRoom.addEventListener('change', (e) => {
    if(e.target.value == 'No') {
      multipleSelect.style.display = 'none';
      distanceInput.style.display = 'flex';
    } else {
      multipleSelect.style.display = 'block';
      distanceInput.style.display = 'none';
    }
  })
  navIcon.addEventListener('click', () => {
      if(chatRooms.classList.contains('open')) {
          chatRooms.classList.remove('open')
          navIcon.classList.remove('navbar-open')
          chatWindow.classList.add('col-md-12')
          chatWindow.classList.remove('col-md-8')
          chatWindow.classList.remove('offset-md-4')
          chatWindow.classList.remove('navbar-open')
          if(newMsgForm != undefined) {
            newMsgForm.classList.remove('navbar-open')
          }
      } else {
          chatRooms.classList.add('open')
          navIcon.classList.add('navbar-open')
          chatWindow.classList.add('navbar-open')
          chatWindow.classList.add('offset-md-4')
          chatWindow.classList.add('col-md-8')
          chatWindow.classList.add('navbar-open')
          chatWindow.classList.remove('col-md-12')
          if(newMsgForm != undefined) {
            newMsgForm.classList.add('navbar-open')
          }
      }
  });

  collapsibleRoomsButton.addEventListener('click', () => {
      if(roomsWrapper.classList.contains('collapsed')) {
          collapsibleRoomsButton.classList.add('open')
          roomsWrapper.classList.remove('collapsed')
      } else {
          collapsibleRoomsButton.classList.remove('open')
          roomsWrapper.classList.add('collapsed')
      }
  })
  collapsibleUsersButton.addEventListener('click', () => {
      if(usersWrapper.classList.contains('collapsed')) {
          collapsibleUsersButton.classList.add('open')
          usersWrapper.classList.remove('collapsed')
      } else {
          collapsibleUsersButton.classList.remove('open')
          usersWrapper.classList.add('collapsed')
      }
  })
  collapsibleNewRoomButton.addEventListener('click', () => {
      if(newRoomWrapper.classList.contains('collapsed')) {
          collapsibleNewRoomButton.classList.add('open')
          newRoomWrapper.classList.remove('collapsed')
      } else {
          collapsibleNewRoomButton.classList.remove('open')
          newRoomWrapper.classList.add('collapsed')
      }
  })
  collapsibleSearchRoomButton.addEventListener('click', () => {
      if(searchRoomWrapper.classList.contains('collapsed')) {
          collapsibleSearchRoomButton.classList.add('open')
          searchRoomWrapper.classList.remove('collapsed')
      } else {
          collapsibleSearchRoomButton.classList.remove('open')
          searchRoomWrapper.classList.add('collapsed')
      }
  })
</script>